<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.meowcat.xposed.glitchtext">

    <application
        android:allowBackup="false"
        android:label="@string/app_label"
        tools:ignore="MissingApplicationIcon">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposedminversion"
            android:value="54" />
        <meta-data
            android:name="xposeddescription"
            android:value="ĽřāũáJïuŧsŅtĕþMĹoČnŵiÏkła³ŵę£ŭĽÒ"/>
        
    </application>

</manifest>
